# Minecraft mod dev
build/
bin/
run/
src/generated/**/.cache

# IDE
.idea/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath

# Gradle
.gradle/
gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Logs
*.log
crash-*.txt
